body {
    font-family: 'Arimo', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
}

header img {
    max-width: 100%;
}

nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

section {
    flex: 1;
    margin: 10px;
    text-align: center;
}

figure {
    padding: 10px;
    text-align: center;
    margin: 10px; /* espaçamento entre as figuras */
}

figure img {
    max-width: 100%;
}

figcaption {
    font-size: 16px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: sticky;
    bottom: 0;
    z-index: 1;
    margin: 0;
}

address {
    font-size: 14px;
}

.redes-sociais {
    margin-top: 20px;
}

.redes-sociais a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

/* Responsividade usando Flexbox */
@media screen and (max-width: 1000px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }

    main section {
        margin: 20px 0;
    }
}

form fieldset {
    margin-bottom: 10px;
}

form label {
    display: block;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="date"],
form input[type="tel"],
form select,
form textarea {
    width: 250px; /* Largura fixa de 250px */
    height: 25px; /* Altura fixa de 25px */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px; /* Tamanho da fonte */
    margin: 5px 0;
}

form textarea {
    height: 120px;
}

/* Estilos  botão de envio */
form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
